body {
    font-family: "Cambria", serif;
    font-size: 18px;
    line-height: 1.6;
    font-optical-sizing: auto;
    margin: 0;
}

header {
    background-color: #580000;
    padding: 12px 200px;
}

nav {
    display: flex;
    justify-content: flex-end; /* aligns items to the right */
}


nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 50px;
}

.profile-pic {
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}
